
<header class="h-100 header">
        <div class="col-6 mx-auto text-center">
              <h2>Sports Survey</h2>
        </div>
</header>
<div class="container">
  
   1) Who's the winner of the IPL 2018<br>
      <input type="radio" name="team">SRH<br>
      <input type="radio" name="team">CSK<br>
      <input type="radio" name="team">RCB<br>
      <input type="radio" name="team">MI
      <hr>

      2) Sachin Tendulkar hit his 100th international century against which among the following team?<br>
      <input type="radio" name="Country">Sri Lanka<br>
      <input type="radio" name="Country">Bangladesh<br>
      <input type="radio" name="Country">Pakistan<br>
      <input type="radio" name="Country">South Africa 

      <hr>
      3)C.K Nayudu was India's first captain<br>
      <input type="radio" name="bool">true<br>
      <input type="radio" name="bool">False<br>

      <hr>
      4)Which among the following country is the host of 2018 Commonwealth Games?><br>
      <input type="radio" name="Counry">Australia<br>
      <input type="radio" name="Counry">India<br>
      <input type="radio" name="Counry">Canada<br>
      <input type="radio" name="Counry">England
      <br>
      <div class="col-6 mx-auto text-center">
          <button (click)="navigate()" class="btn btn-success btncls">Submit</button>
    </div>
   
</div>
