
<header class="h-100 header">
  <div class="col-6 mx-auto text-center">
        <h2>Entertainment Survey</h2>
  </div>
</header>
<div class="container">

1) Who's the hero of bahubali<br>
<input type="radio" name="hero">Ram charan<br>
<input type="radio" name="hero">Mahesh babu<br>
<input type="radio" name="hero">Prabhas<br>
<input type="radio" name="hero">Rana
<hr>

2) Who is the director for the movie Jalsa ?<br>
<input type="radio" name="director">Srinu Vaitla<br>
<input type="radio" name="director">Trivikram<br>
<input type="radio" name="director">V.V. Vinayak<br>
<input type="radio" name="director">Bhaskar 

<hr>
3) First Indian sound film was<br>
<input type="radio" name="film">Alam Ara<br>
<input type="radio" name="director">Krishna kanya<br>
<input type="radio" name="director">Raja Harischandra<br>
<input type="radio" name="director">None of the above 

<hr>
4)Which is Megastar's last Movie before politics?<br>
<input type="radio" name="Megastar">Andarivaadu<br>
<input type="radio" name="Megastar">Shankardada Zindabad<br>
<input type="radio" name="Megastar">Stalin<br>
<input type="radio" name="Megastar">Shankardada M.B.B.S
<br>
<div class="col-6 mx-auto text-center">
    <button (click)="navigate()" class="btn btn-success btncls">Submit</button>
</div>

</div>
