
<header class="h-100 header">
  <div class="col-6 mx-auto text-center">
        <h2>Politics Survey</h2>
  </div>
</header>
<div class="container">

1) The elections for Lok Sabha are held every<br>
<input type="radio" name="team">3 years<br>
<input type="radio" name="team">4 years<br>
<input type="radio" name="team">5 years<br>
<input type="radio" name="team">6 years
<hr>

2) Annie Besant is first woman congress president<br>
<input type="radio" name="bool">true<br>
<input type="radio" name="bool">False


<hr>
3) Who was the first vice president of India?<br>
<input type="radio" name="vice">Dr.S.Radhakrishnan<br>
<input type="radio" name="vice">Dr.Zakir Hussain<br>
<input type="radio" name="vice">Gopal Swarup Pathak<br>
<input type="radio" name="vice">Ramaswamy Venkataraman

<hr>
4) The present Lok Sabha is  16th Lok Sabha<br> 
<input type="radio" name="loksaba">true<br>
<input type="radio" name="loksaba">False

<br>
<div class="col-6 mx-auto text-center">
    <button (click)="navigate()" class="btn btn-success btncls">Submit</button>
</div>

</div>
