
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="assets/img/convene.png" height="50" width="100" alt="">
        </a>
        <span class="navbar-text text">
          Please Click on the Survey you want to partcipate
        </span>
    <div class="collapse navbar-collapse" id="navbarResponsive">
 
    </div>
  </div>
</nav>


<div class="container main">
  <div class="row">
    <div class="col-md-3 text-center spt">
      <h5 class="card-title">Sports Survey</h5>
      <button routerLink="/sports" class="btn btn-primary">Click here</button>
    </div>
    <div class=" offset-md-1 col-md-3 text-center spt">
      <h5 class="card-title">Politics Survey</h5>
      <button routerLink="/politics" class="btn btn-primary">Click here</button>
    </div>
    <div class="offset-md-1 col-md-3 text-center spt">
      <h5 class="card-title">Entertainment Survey</h5>
      <button routerLink="/entertainment" class="btn btn-primary">Click here</button>
    </div>
  </div>
</div>
